**/config.json
**/vendor/
/.cache/
/.cover/
/.env
/.idea/
/.terraform/
/.vscode/
/_blackhole/
/tooling/_tools/
/bin/
/blackhole/
/coverage.html
/images.tar
/out/
/terraform.tfstate*
/terraform.tfvars
/test-results/
/tmp/
